# This is a sample config file for backend.
# Replace with production local.cfg.
# It will be mounted to docker container.

# required to fix mixed block errors in brower
dspace.server.url = https://clarin-repo2.dhcp.ffzg.hr/server
